body {
	color: #333;
	font-size: 14px;
	font-family: 'Montserrat', 'STHeiti', 'Microsoft YaHei', Arial, sans-serif;
	line-height: 1.4em
}
body, html {
	min-width: 1100px
}
a {
	text-decoration: none
}
header {
	width: 100%;
	height: 507px;
	position: relative;
	overflow: hidden
}
.header_pic {
	width: 22162px;
	position: absolute
}
.header_pic li {
	position: relative;
	float: left
}
.header_center {
	width: 1020px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 25px
}
h1 {
	float: left;
	margin-left: 10px
}
.search {
	float: right;
	// width: 324px;
	margin-top: 35px;
	margin-right: 10px;
	line-height: 0.9em
}
.search>div {
	float: left
}
.searchbar, .checkin, .checkout {
	position: relative
}
.checkin, .checkout {
	display: none
}
.searchbar input, .checkin input, .checkout input {
	width: 280px;
	height: 30px;
	border: 1px solid transparent;
	outline: none;
	background: rgba(255, 255, 255, 0.45);
	box-shadow: 2px 2px 8px rgba(131, 131, 131, 0.4), inset -1px 1px 4px rgba(232, 232, 232, 0.3);
	padding: 0 0 0 25px;
	margin-top: 2px;
	margin-right: 10px;
	box-sizing: border-box
}
.checkin input, .checkout input {
	width: 0px
}
.date {
	display: block;
	background: url(../images/date.png)no-repeat;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 9px;
	left: 5px
}
.searchbar input:focus, .checkin input:focus, .checkout input:focus {
	border: 1px solid #af5576
}
.searchbar input:hover, .checkin input:hover, .checkout input:hover {
	border: 1px solid #A2526D
}
.searchbar span {
	position: absolute;
	font-size: 17px;
	color: #465461;
	top: 12px;
	left: 6px
}
.searchdot {
	width: 34px;
	height: 34px;
	position: relative
}
.searchdot input {
	width: 34px;
	height: 34px;
	border: none;
	cursor: pointer;
	border-radius: 50%;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
	background: linear-gradient(to bottom, #d78393 0%, #b74966 100%)
}
.searchdot span {
	width: 14px;
	height: 14px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%)
}
.navbar {
	width: 100%;
	height: 80px;
	position: fixed;
	box-sizing: border-box;
	top: 0;
	background: #fff;
	display: none;
	z-index: 10;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1)
}
.navbar>.nav {
	line-height: 80px;
	height: 80px;
	box-sizing: border-box;
	padding-left: 10px
}
.navbar>.nav>a {
	float: left;
	margin-top: 10px
}
#navs {
	padding-left: 10px;
	margin-left: 154px;
	font-size: 13px;
	height: 33px;
	width: 230px;
	outline: none;
	box-sizing: border-box;
	border: 1px solid #ccc;
	background: #fff;
	border-radius: 4px
}
#navs:focus {
	border: 1px solid #af5576
}
#navbtn {
	width: 25px;
	height: 25px;
	position: absolute;
	top: 27px;
	right: 395px;
	background: #fff;
	outline: none;
	border: 1px solid #fff;
	cursor: pointer
}
#nbtn {
	font-size: 18px;
	color: #af5576;
	position: absolute;
	right: 395px;
	cursor: pointer
}
nav {
	height: 50px;
	background: #fff;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1)
}
.nav {
	width: 1020px;
	margin: 0 auto;
	line-height: 50px
}
.nav a {
	color: #384d66
}
.nav li:hover .na {
	color: #CB5977
}
.nav li:hover span {
	border-bottom: #CB5977 1px solid;
	border-right: #CB5977 1px solid;
	transform: rotate(225deg);
	transform-origin: bottom
}
.nav_left {
	width: 700px;
	margin-left: 10px
}
nav .nav_left>li {
	float: left;
	width: 16.6667%;
	text-align: center
}
.navbar .nav_left>li {
	float: left;
	height: 80px;
	line-height: 80px;
	box-sizing: border-box;
	width: auto;
	padding-right: 40px;
	text-align: center
}
.navbar .nav_left>li:nth-of-type(1) {
	margin-left: 30px
}
.navbar .menu {
	left: 292px
}
.nav_left span {
	margin-left: 8px;
	margin-bottom: 4px;
	display: inline-block;
	height: 6px;
	width: 6px;
	border-bottom: #384d66 1px solid;
	border-right: #384d66 1px solid;
	transform: rotate(45deg);
	transition: transform 0.3s;
}
.nav_right {
	display: block;
	margin-right: 10px
}
.nav_right a:hover {
	color: #CB5977
}
.nav_right p {
	float: right
}


.nav_user{
	position: relative;
	height: 50px;
	line-height:50px;
}
.nav_user p,.nav_user div {
	float: right;
}
.nav_user span {
	margin-left: 8px;
	margin-bottom: 4px;
	display: inline-block;
	height: 6px;
	width: 6px;
	border-bottom: #384d66 1px solid;
	border-right: #384d66 1px solid;
	transform: rotate(45deg);
	transition: transform 0.3s;
}
.user{
	display:none;
	width: 120px;
	position: absolute;
	background: #fff;
	border-top: 1px solid #ccc;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
	z-index: 99;
	right:0px;
	top:50px;
}
.nav_user>.user li{
	font-size: 0.8em;
	color: #fff;
	line-height:25px;
}
.nav_user .user {
	padding: 10px 0 15px 20px;
	box-sizing: border-box
}
.user::before {
	content: "";
	display: block;
	width: 12px;
	height: 12px;
	background: #fff;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	transform: rotate(-45deg);
	position: absolute;
	top: -7px;
	right: 15.5%
}
.nav_user:hover span {
	border-bottom: #CB5977 1px solid;
	border-right: #CB5977 1px solid;
	transform: rotate(225deg);
	transform-origin: bottom
}


.menu {
	display: none;
	width: 1000px;
	position: absolute;
	background: #fff;
	border-top: 1px solid #ccc;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
	z-index: 99
}
.menu1 .menu {
	height: 532px;
	padding: 10px 0 15px 20px;
	box-sizing: border-box
}
.menu2 .menu {
	left: 292px
}
.menu1 dl {
	padding: 10px 20px 0 0;
	float: left;
	width: 25%;
	box-sizing: border-box
}
.menu1 dt {
	font-size: 16px;
	color: #588CB5;
	padding: 0 10px 5px 10px;
	font-weight: bold;
	border-bottom: 1px solid #8CA6C2;
	text-align: left;
	cursor: text;
	line-height: 1.4em
}
.menu1 dd {
	line-height: 13px;
	text-align: left;
	padding-top: 8px
}
.menu1 dd>a {
	display: block;
	padding: 0 8px;
	margin: 0 0px 10px -1px;
	color: #596875;
	border-left: 1px solid #ccc;
	font-size: 13px;
	float: left
}
.menu1 dd>.ddone {
	border-left: none
}
.menu1 a:hover {
	color: #CB5977
}
.menu::before {
	content: "";
	display: block;
	width: 12px;
	height: 12px;
	background: #fff;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	transform: rotate(-45deg);
	position: absolute;
	top: -7px;
	left: 4.5%
}
.menu2 .menu::before {
	left: 16.5%
}
.navbar .menu::before {
	left: 10.5%
}
.navbar .menu2 .menu::before {
	left: 20.5%
}
.process1 {
	height: 420px;
	float: left;
	width: 660px;
	padding: 0 10px
}
.prop {
	font-size: 1.4em;
	line-height: 1.4em;
	margin-left: 20px;
	margin-bottom: 20px;
	padding-top: 20px;
	text-align: left;
	cursor: text
}
.process {
	width: 640px;
	margin-left: 20px
}
.process li {
	display: inline-block;
	margin-right: 11px;
	margin-bottom: 3px;
	position: relative
}
.process li a {
	display: block;
	width: 145px;
	height: 145px;
	background: url('../images/square.jpg') no-repeat;
	background-size: 100%;
	border-radius: 50%
}
.process li:nth-of-type(1) a {
	background-size: 157px;
	background-position: -12px 0
}
.process li:nth-of-type(2) a {
	background-position: 0 -145px
}
.process li:nth-of-type(3) a {
	background-position: 0 -290px
}
.process li:nth-of-type(4) a {
	background-position: 0 -590px
}
.process li:nth-of-type(5) a {
	background-position: 0 -440px
}
.process li:nth-of-type(6) a {
	background-position: 0 -725px
}
.process li:nth-of-type(7) a {
	background-position: 0 -870px
}
.process li:nth-of-type(8) a {
	background-position: 0 -1025px
}
.process p {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 145px;
	height: 22px;
	background-color: #fff;
	line-height: 22px
}
.process a:hover p {
	color: #CB5977
}
.process2 {
	height: 420px
}
.clear {
	clear: both
}
section {
	padding: 60px 0;
	background: #465562;
}
.sec {
	width: 1020px;
	margin: 0px auto
}
.margin-bottom-40px {
	position: relative;
	margin-bottom: 40px
}
h2 {
	margin-left: 10px;
	font-size: 1.8em;
	font-weight: normal;
	line-height: 1.4em;
	margin-bottom: 10px
}
.recommend {
	display: none;
	width: 320px;
	height: 240px;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6)
}
.recommend div {
	height: 100px;
	width: 100px;
	background: transparent;
	border: 2px solid #fff;
	color: #fff;
	border-radius: 50%;
	position: absolute;
	text-align: center;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding-top: 30px;
	box-sizing: border-box
}
.recommend span {
	font-size: 2.5em
}
.margin-bottom-30px {
	margin-bottom: 30px
}
.space::after {
	content: '';
	width: 100%;
	height: 85px;
	position: absolute;
	left: 0;
	bottom: 110px;
	z-index: 1;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%)
}
.space img {
	display: block
}
.FP_h2 {
	color: #fff
}
.FP {
	width: 1020px;
	overflow: hidden
}
.FP li {
	float: left;
	width: 320px;
	height: 350px;
	margin: 0 10px 20px 10px;
	position: relative
}
.FP .w660 {
	width: 660px
}
.FP .margin-bottom-0px {
	margin-bottom: 0px
}
.detail {
	height: 110px;
	background: #fff;
	position: relative
}
.title, .title2, .title3 {
	position: absolute;
	top: 20px;
	padding: 0 20px;
	color: #000
}
.out {
	margin-top: 20px
}
.title2 {
	top: 40px
}
.title3 {
	top: 70px
}
.icons {
	position: absolute;
	right: 20px;
	bottom: 20px
}
.icons span {
	float: left;
	display: block;
	width: 30px;
	height: 30px;
	background: #cb5977;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	line-height: 30px
}
.icons .icon-feiji1 {
	font-size: 18px
}
.icons .icon-fengniao {
	font-size: 25px;
	margin-left: 5px
}
.icons .icon-huiyuanzuanshi {
	font-size: 22px;
	margin-left: 5px;
	box-sizing: border-box;
	padding-left: 1px;
	padding-top: 1px
}
.icons .icon-hanglixiang {
	margin-left: 5px;
	font-size: 22px
}
.icons .icon-icon_bieshu {
	font-size: 25px
}
.icons .icon-youlun {
	margin-left: 5px;
	font-size: 25px
}
.icons .mg-right-8px {
	margin-right: 8px;
	font-size: 35px;
	color: #cb5977;
	background: transparent
}
.only-mg-top-10 {
	margin-top: 10px
}
.sale-tag {
	z-index: 4;
	left: -8px;
	top: 10px;
	height: 44px;
	color: #fff;
	position: absolute;
	background: #d66382;
	padding: 10px 20px
}
.winter {
	z-index: 2;
	color: #fff;
	position: absolute;
	bottom: 130px;
	right: 20px;
	box-sizing: border-box;
	width: 96px;
	height: 31px;
	padding: 6px 20px;
	text-align: center;
	background: #d66382
}
.sale-tag span {
	font-size: 1.3em;
	font-weight: bold
}
.sale-tag::after {
	content: '';
	position: absolute;
	left: 0;
	top: 64px;
	border-left: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-right: 4px solid #6e201e;
	border-top: 4px solid #6e201e
}
.line1::after {
	content: '';
	position: absolute;
	right: -20px;
	top: 0;
	border-right: 27px solid transparent;
	border-bottom: 23px solid transparent;
	border-left: 14px solid #d66382;
	border-top: 42px solid #d66382
}
.line2::after {
	content: '';
	position: absolute;
	right: -20px;
	top: 0;
	border-right: 14px solid transparent;
	border-top: 42px solid transparent;
	border-left: 27px solid #d66382;
	border-bottom: 22px solid #d66382
}
.line2 {
	margin-top: 5px
}
.FP li:hover .detail {
	background: #d66382
}
.FP li:hover .title {
	color: #fff
}
.FP li:hover .title3 {
	color: #fff
}
.FP li:hover .icons span {
	background: #fff;
	color: #d66382
}
.FP li:hover .icons .icon-shijian {
	background: #d66382;
	color: #fff
}
.FP li:hover .recommend {
	display: block
}
.title1 {
	box-sizing: border-box;
	display: none;
	width: 320px;
	position: absolute;
	bottom: 110px;
	background-color: #ebebeb;
	padding: 5px 10px;
	opacity: 0.8;
	font-size: 0.9em;
	z-index: 3;
	color: #000
}
.title3 {
	color: #CB5977
}
main {
	background: #e1ebf3;
	padding: 60px 0
}
.diff-video {
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.85);
	z-index: 999;
	position: fixed;
	left: 0;
	top: 0;
	display: none
}
.video {
	width: 1020px;
	margin: 0 auto;
	margin-top: 5%;
	z-index: 1
}
.different {
	width: 1000px;
	margin: 0 auto 40px;
	padding: 0 10px;
	position: relative
}
.different-video {
	top: 50%;
	left: 18%;
	transform: translateY(-50%);
	height: 60px;
	width: 260px;
	color: #fff;
	font-size: 1.8em;
	line-height: 30px;
	position: absolute;
	cursor: pointer;
	text-shadow: 0 3px 5px rgba(0, 0, 0, 0.2)
}
.different-video img {
	margin-right: 10px;
	float: left
}
.different-world {
	width: 270px;
	position: absolute;
	padding: 15px 15px 20px;
	background: #fff;
	top: 0;
	right: 5%
}
.different-more a {
	margin-top: 20px;
	display: block;
	width: 144px;
	height: 39px;
	background: #ef426f;
	color: #fff;
	float: right;
	text-align: center;
	line-height: 39px;
	border-radius: 25px
}
footer {
	z-index: 5;
	height: 652px;
	background: url(../images/footer_bg.png) no-repeat, linear-gradient(-180deg, rgba(124, 202, 234, 0.90) 0%, rgba(198, 232, 246, 0.46) 96%);
	background-position: 0 0;
	position: relative
}
.contact {
	height: 382px
}
.contact_us {
	width: 1020px;
	margin: 0 auto;
	overflow: hidden;
	box-sizing: border-box;
	padding: 57px 0 40px 120px
}
.contact_us dl {
	margin-left: 82px;
	float: left
}
.contact_us dl:nth-of-type(1) {
	margin-left: 0
}
.contact_us dt {
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 1.2em;
	line-height: 1.4em
}
.contact_us dd {
	margin-top: 3px;
	color: #7C878E
}
.contact_us dd>a {
	color: #7C878E
}
.contact_us dd a:hover {
	color: #af5576
}
.small>dd:nth-of-type(1), .small>dd:nth-of-type(4) {
	color: #00C40C
}
.small>dd:nth-of-type(3) {
	margin-bottom: 20px
}
.hotline a {
	color: #7C878E;
	font-weight: 500;
	font-size: 1.2em
}
.info a {
	color: #999
}
.media {
	margin: 0px auto;
	box-sizing: border-box;
	width: 1020px;
	padding-left: 120px;
	overflow: hidden
}
.media li {
	margin: 0 15px 10px 0;
	float: left;
	background-position: 0 0;
	background: url(../images/media-icon.png)no-repeat;
	background-size: 191px
}
.media li:nth-of-type(2) {
	background-position: -51px 0
}
.media li:nth-of-type(3) {
	background-position: -102px 0
}
.media li a {
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	box-shadow: 0 9px 12px rgba(0, 0, 0, 0.16)
}
.welcome {
	margin: 0 auto;
	box-sizing: border-box;
	width: 1020px;
	padding-left: 120px;
	padding-right: 220px;
	overflow: hidden
}
.welcome a:hover {
	text-decoration: underline
}
.welcome p:nth-of-type(1) {
	color: #7C878E;
	float: left
}
.welcome p:nth-of-type(1) a {
	color: #cb5977;
	font-size: 1.2em
}
.welcome p:nth-of-type(2) a {
	color: #999;
	font-size: 1.1em;
	font-weight: bold
}
.welcome p:nth-of-type(2) {
	color: #7C878E;
	float: right
}
.footer_cloud {
	width: 100%;
	position: relative;
	overflow: hidden
}
.cloud {
	min-height: 270px
}
.movecloud1 {
	width: 90%;
	position: absolute;
	left: 0;
	top: 15%;
	animation: left 10s linear infinite alternate
}
.movecloud2 {
	width: 90%;
	position: absolute;
	right: 0;
	top: 30%;
	animation: right 12s linear infinite alternate
}
@keyframes left {
	0% {
		transform: translateX(0)
	}
	100% {
		transform: translateX(500px)
	}
}
@keyframes right {
	0% {
		transform: translateX(0)
	}
	100% {
		transform: translateX(300px)
	}
}
.end {
	width: 100%;
	min-width: 1020px;
	position: absolute;
	background: #fff;
	bottom: 0px;
	z-index: 2
}
.end>div {
	width: 1020px;
	margin: 0 auto;
	height: 163px;
	text-align: center;
	position: relative
}
.QR {
	display: block;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -155px
}
.bom {
	display: block;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0
}
.end p:nth-of-type(2) {
	margin-top: 10px
}
.end p:nth-of-type(2) a {
	color: #333
}
.end p:nth-of-type(2) a:hover {
	text-decoration: underline
}
.go-top, .bottom-go-top {
	cursor: pointer;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 99px;
	height: 48px;
	background-color: #e5f2f8;
	border-radius: 48px 48px 0 0;
	z-index: 2;
	font-size: 0.8em;
	color: #8fa7bf;
	padding-top: 26px;
	text-align: center;
	box-sizing: border-box
}
.bottom-go-top {
	z-index: 1;
	position: absolute;
	top: -48px;
	left: 50%;
	transform: translateX(-50%)
}
.go-top::before, .bottom-go-top::before {
	content: '';
	display: block;
	position: absolute;
	top: 12px;
	left: 40px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #8ca6c1
}
.more:hover.more div {
	text-decoration: underline
}
.more {
	display: block;
	height: 37px;
	float: right;
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 1.4em;
	color: #cb5977
}
.more div {
	display: inline-block
}
.more span {
	margin-right: 5px;
	color: #fff;
	display: inline-block;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: #cb5977;
	font-size: 20px;
	text-align: center;
	line-height: 34px
}
ol {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%)
}
ol li {
	cursor: pointer;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #fff;
	float: left;
	margin-right: 10px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1)
}
.current {
	background: #af5576
}
ol li:nth-of-type(14) {
	margin-right: 0px
}
#left, #right {
	background: transparent url('../images/slideshow-nav-sprite.png') no-repeat 0 0;
	width: 66px;
	height: 66px;
	position: absolute;
	z-index: 1;
	top: 50%;
	margin-top: -33px;
	cursor: pointer
}
#left {
	background-position: -88px 0;
	left: 50px
}
#right {
	background-position: -154px 0;
	right: 50px
}
#right:hover {
	background-position: -154px -66px
}
#left:hover {
	background-position: -88px -66px
}
.consult {
	z-index: 5;
	width: 70px;
	height: 70px;
	border-radius: 6px;
	background: #C15672;
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	color: #fff;
	text-align: center
}
.consult span {
	display: block;
	width: 37px;
	height: 37px;
	margin: 5px auto
}
.consult p {
	line-height: 2px
}
.day:hover {
	border-radius: 50%;
	background: #e0e0e0
}