* {
	margin: 0;
	padding: 0;
	list-style: none
}
body, html {
	min-width: 1020px
}
body {
	background: #e1ebf3;
	font-size: 14px;
	font-family: 'Montserrat', 'STHeiti', 'Microsoft YaHei', Arial, sans-serif;
	line-height: 1.4em;
	color: #333333
}
a {
	text-decoration: none
}
.relative {
	position: relative
}
.clear {
	clear: both
}
.sec {
	width: 1020px;
	margin: 0px auto
}
.padding-t-b-60px {
	padding-top: 60px;
	padding-bottom: 60px
}
.margin-top-20px {
	display: block;
	margin-top: 20px
}
.margin-bottom-10px {
	display: block;
	margin-bottom: 10px
}
.margin-bottom-12px {
	display: block;
	margin-bottom: 12px
}
.margin-bottom-20px {
	display: block;
	margin-bottom: 20px
}
.margin-bottom-40px {
	display: block;
	margin-bottom: 40px
}
.margin-bottom-30px {
	display: block;
	margin-bottom: 30px
}
.margin-right-10px {
	display: block;
	margin-right: 10px
}
.margin-right-5px {
	display: block;
	margin-right: 5px
}
.margin-right-80px {
	display: block;
	margin-right: 80px
}
.left {
	display: block;
	float: left
}
.right {
	display: block;
	float: right
}
.t-center {
	text-align: center
}

#luxury {
	color: #cb5977
}
#luxury span {
	border-bottom: #cb5977 1px solid;
	border-right: #cb5977 1px solid
}
.container {
	width: 1000px;
	height: 70px;
	margin: 0 auto
}
h1 {
	float: left
}
.container>div {
	margin-top: 30px;
	float: right
}


.process1 {
	height: 420px;
	float: left;
	width: 660px;
	padding: 0 10px
}
.prop {
	font-size: 1.4em;
	line-height: 1.4em;
	margin-left: 20px;
	margin-bottom: 20px;
	padding-top: 20px;
	text-align: left;
	cursor: text
}
.process {
	width: 640px;
	margin-left: 20px
}
.process li {
	display: inline-block;
	margin-right: 11px;
	margin-bottom: 3px;
	position: relative
}
.process li a {
	display: block;
	width: 145px;
	height: 145px;
	background: url('../images/square.jpg') no-repeat;
	background-size: 100%;
	border-radius: 50%
}
.process li:nth-of-type(1) a {
	background-size: 157px;
	background-position: -12px 0
}
.process li:nth-of-type(2) a {
	background-position: 0 -145px
}
.process li:nth-of-type(3) a {
	background-position: 0 -290px
}
.process li:nth-of-type(4) a {
	background-position: 0 -590px
}
.process li:nth-of-type(5) a {
	background-position: 0 -440px
}
.process li:nth-of-type(6) a {
	background-position: 0 -725px
}
.process li:nth-of-type(7) a {
	background-position: 0 -870px
}
.process li:nth-of-type(8) a {
	background-position: 0 -1025px
}
.process p {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 145px;
	height: 22px;
	background-color: #fff;
	line-height: 22px
}
.process a:hover p {
	color: #CB5977
}
.process2 {
	height: 420px
}
.h573 {
	overflow: hidden;
	height: 573px
}
.bg-img {
	position: absolute;
	width: 110%;
	height: 110%;
	background: url('../images/square1.jpg');
	background-size: cover;
	background-position: center;
	filter: blur(10px)
}
.CNA-hainan {
	top: 9%;
	left: 20%;
	font-size: 1.3em;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	color: #fff;
	position: absolute
}
.bg-img1 {
	background: url(../images/bg-image-clouds.jpg);
	background-size: 100%
}
.hainan-d {
	width: 1020px;
	margin: 0 auto
}
.hainan-d h2 {
	font-weight: normal;
	line-height: 1.4em;
	font-size: 1.8em;
	margin-left: 10px
}
.hai-d {
	float: left;
	width: 235px;
	height: 264px;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px
}
section img {
	display: block
}
.detail1 {
	height: 85px;
	background: #fff;
	position: relative;
	transition: all 0.1s ease-in-out
}
.title9, .title2 {
	position: absolute;
	top: 20px;
	padding: 0 20px;
	color: #000
}
.title2 {
	top: 40px
}
.hotel-l {
	float: left;
	width: 660px;
	margin-left: 10px;
	margin-right: 10px
}
.bottom-shade {
	position: absolute;
	bottom: 0;
	left: 670px;
	width: 330px;
	height: 23px;
	background: url(../images/bottom-shade.png) no-repeat center;
	z-index: 1
}
.hai-h:hover .detail1 {
	background: #d66382
}
.hai-h:hover .title9 {
	color: #fff
}
h2 {
	margin-left: 10px;
	font-size: 1.8em;
	font-weight: normal;
	line-height: 1.4em;
	margin-bottom: 10px
}
.space::after {
	content: '';
	width: 100%;
	height: 85px;
	position: absolute;
	left: 0;
	bottom: 110px;
	z-index: 1;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%)
}
.space img {
	display: block
}
.FP_h2 {
	color: #fff
}
.FP {
	width: 9999px;
	height: 350px;
	position: relative;
	left: 0;
	transition: all 0.8s
}
.FP li {
	float: left;
	width: 320px;
	height: 350px;
	margin: 0 10px 20px 10px;
	position: relative
}
.FP .w660 {
	width: 660px
}
.FP .margin-bottom-0px {
	margin-bottom: 0px
}
.detail {
	height: 110px;
	background: #fff;
	position: relative
}
.title5, .title2, .title3 {
	position: absolute;
	top: 20px;
	padding: 0 20px;
	color: #000
}
h3 {
	font-size: 100%;
	font-weight: normal
}
.out {
	margin-top: 20px
}
.title2 {
	top: 40px
}
.title3 {
	top: 70px
}
.icons {
	position: absolute;
	right: 20px;
	bottom: 20px
}
.icons span {
	float: left;
	display: block;
	width: 30px;
	height: 30px;
	background: #cb5977;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	line-height: 30px
}
.icons .icon-feiji1 {
	font-size: 18px
}
.icons .icon-fengniao {
	font-size: 25px;
	margin-left: 5px
}
.icons .icon-huiyuanzuanshi {
	font-size: 22px;
	margin-left: 5px;
	box-sizing: border-box;
	padding-left: 1px;
	padding-top: 1px
}
.icons .icon-hanglixiang {
	margin-left: 5px;
	font-size: 22px
}
.icons .icon-icon_bieshu {
	font-size: 25px
}
.icons .icon-youlun {
	margin-left: 5px;
	font-size: 25px
}
.icons .mg-right-8px {
	margin-right: 8px;
	font-size: 35px;
	color: #cb5977;
	background: transparent
}
.only-mg-top-10 {
	margin-top: 10px
}
.sale-tag {
	z-index: 4;
	left: -8px;
	top: 10px;
	height: 44px;
	color: #fff;
	position: absolute;
	background: #d66382;
	padding: 10px 20px
}
.winter {
	z-index: 2;
	color: #fff;
	position: absolute;
	bottom: 130px;
	right: 20px;
	box-sizing: border-box;
	width: 96px;
	height: 31px;
	padding: 6px 20px;
	text-align: center;
	background: #d66382
}
.sale-tag span {
	font-size: 1.3em;
	font-weight: bold
}
.sale-tag::after {
	content: '';
	position: absolute;
	left: 0;
	top: 64px;
	border-left: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-right: 4px solid #6e201e;
	border-top: 4px solid #6e201e
}
.line1::after {
	content: '';
	position: absolute;
	right: -20px;
	top: 0;
	border-right: 27px solid transparent;
	border-bottom: 23px solid transparent;
	border-left: 14px solid #d66382;
	border-top: 42px solid #d66382
}
.line2::after {
	content: '';
	position: absolute;
	right: -20px;
	top: 0;
	border-right: 14px solid transparent;
	border-top: 42px solid transparent;
	border-left: 27px solid #d66382;
	border-bottom: 22px solid #d66382
}
.line2 {
	margin-top: 5px
}
.FP li:hover .detail {
	background: #d66382
}
.FP li:hover .title {
	color: #fff
}
.FP li:hover .title3 {
	color: #fff
}
.title1 {
	box-sizing: border-box;
	display: none;
	width: 320px;
	position: absolute;
	top: -10px;
	background-color: #ebebeb;
	padding: 5px 10px;
	opacity: 0.8;
	font-size: 0.9em;
	z-index: 3;
	color: #000
}
.title3 {
	color: #CB5977
}
.hidden {
	overflow: hidden
}
#left, #right {
	background: transparent url('../images/slideshow-nav-sprite.png') no-repeat 0 0;
	width: 66px;
	height: 66px;
	position: absolute;
	z-index: 999;
	top: 50%;
	margin-top: -33px;
	cursor: pointer
}
#left {
	display: none;
	background-position: -88px 0;
	left: 250px
}
#right {
	background-position: -154px 0;
	right: 250px
}
#right:hover {
	background-position: -154px -66px
}
#left:hover {
	background-position: -88px -66px
}
ol {
	position: absolute;
	bottom: 80px;
	left: 50%;
	transform: translateX(-50%)
}
ol li {
	cursor: pointer;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #fff;
	float: left;
	margin-right: 10px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1)
}
.current {
	background: #af5576
}
ol li:nth-of-type(3) {
	margin-right: 0px
}
footer {
	z-index: 5;
	height: 652px;
	background: url(../images/footer_bg.png) no-repeat, linear-gradient(-180deg, rgba(124, 202, 234, 0.90) 0%, rgba(198, 232, 246, 0.46) 96%);
	background-position: 0 0;
	position: relative
}
.contact {
	height: 382px
}
.contact_us {
	width: 1020px;
	margin: 0 auto;
	overflow: hidden;
	box-sizing: border-box;
	padding: 57px 0 40px 120px
}
.contact_us dl {
	margin-left: 82px;
	float: left
}
.contact_us dl:nth-of-type(1) {
	margin-left: 0
}
.contact_us dt {
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 1.2em;
	line-height: 1.4em
}
.contact_us dd {
	margin-top: 3px;
	color: #7C878E
}
.contact_us dd>a {
	color: #7C878E
}
.contact_us dd a:hover {
	color: #af5576
}
.small>dd:nth-of-type(1), .small>dd:nth-of-type(4) {
	color: #00C40C
}
.small>dd:nth-of-type(3) {
	margin-bottom: 20px
}
.hotline a {
	color: #7C878E;
	font-weight: 500;
	font-size: 1.2em
}
.info a {
	color: #999
}
.media {
	margin: 0px auto;
	box-sizing: border-box;
	width: 1020px;
	padding-left: 120px;
	overflow: hidden
}
.media li {
	margin: 0 15px 10px 0;
	float: left;
	background-position: 0 0;
	background: url(../images/media-icon.png)no-repeat;
	background-size: 191px
}
.media li:nth-of-type(2) {
	background-position: -51px 0
}
.media li:nth-of-type(3) {
	background-position: -102px 0
}
.media li a {
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	box-shadow: 0 9px 12px rgba(0, 0, 0, 0.16)
}
.welcome {
	margin: 0 auto;
	box-sizing: border-box;
	width: 1020px;
	padding-left: 120px;
	padding-right: 220px;
	overflow: hidden
}
.welcome a:hover {
	text-decoration: underline
}
.welcome p:nth-of-type(1) {
	color: #7C878E;
	float: left
}
.welcome p:nth-of-type(1) a {
	color: #cb5977;
	font-size: 1.2em
}
.welcome p:nth-of-type(2) a {
	color: #999;
	font-size: 1.1em;
	font-weight: bold
}
.welcome p:nth-of-type(2) {
	color: #7C878E;
	float: right
}
.footer_cloud {
	width: 100%;
	position: relative;
	overflow: hidden
}
.cloud {
	min-height: 270px
}
.movecloud1 {
	width: 90%;
	position: absolute;
	left: 0;
	top: 15%;
	animation: left 10s linear infinite alternate
}
.movecloud2 {
	width: 90%;
	position: absolute;
	right: 0;
	top: 30%;
	animation: right 12s linear infinite alternate
}
@keyframes left {
	0% {
		transform: translateX(0)
	}
	100% {
		transform: translateX(500px)
	}
}
@keyframes right {
	0% {
		transform: translateX(0)
	}
	100% {
		transform: translateX(300px)
	}
}
.end {
	width: 100%;
	min-width: 1020px;
	position: absolute;
	background: #fff;
	bottom: 0px;
	z-index: 2
}
.end>div {
	width: 1020px;
	margin: 0 auto;
	height: 163px;
	text-align: center;
	position: relative
}
.QR {
	display: block;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -155px
}
.bom {
	display: block;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0
}
.end p:nth-of-type(2) {
	margin-top: 10px
}
.end p:nth-of-type(2) a {
	color: #333
}
.end p:nth-of-type(2) a:hover {
	text-decoration: underline
}
.go-top, .bottom-go-top {
	cursor: pointer;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 99px;
	height: 48px;
	background-color: #e5f2f8;
	border-radius: 48px 48px 0 0;
	z-index: 2;
	font-size: 0.8em;
	color: #8fa7bf;
	padding-top: 26px;
	text-align: center;
	box-sizing: border-box
}
.bottom-go-top {
	z-index: 1;
	position: absolute;
	top: -48px;
	left: 50%;
	transform: translateX(-50%)
}
.go-top::before, .bottom-go-top::before {
	content: '';
	display: block;
	position: absolute;
	top: 12px;
	left: 40px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #8ca6c1
}
.consult {
	z-index: 5;
	width: 70px;
	height: 70px;
	border-radius: 6px;
	background: #C15672;
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	color: #fff;
	text-align: center
}
.consult span {
	display: block;
	width: 37px;
	height: 37px;
	margin: 5px auto
}
.consult p {
	line-height: 2px
}
.box {
	width: 1000px;
	height: 340px;
	margin: 0 auto
}
#container3 {
	top: 26%;
	width: 1000px;
	height: 430px
}
.list {
	width: 20%;
	height: 100%;
	background: #eee
}
.list li {
	height: 34px;
	line-height: 34px;
	padding-left: 20px
}
.list li.active a {
	color: red
}
.title {
	font-size: 14px;
	font-weight: bold;
	color: #cc5522
}
.content {
	font-size: 13px;
	color: #333;
	margin-top: 6px
}
.fl {
	float: left
}