/*
* @Author: lfting
* @Date:   2019-04-29 13:06:48
* @Last Modified by:   hp
* @Last Modified time: 2019-05-08 19:04:00
*/
/* * {
	padding: 0;
	margin: 0;
	list-style: none
} */
body, html {
	min-width: 1020px
}
body {
	background: #ececec;
	font-size: 14px;
	font-family: 'Montserrat', 'STHeiti', 'Microsoft YaHei', Arial, sans-serif;
	line-height: 1.4em;
	color: #333333
}
a {
	text-decoration: none
}
.clearfix::after{
	content: '';
	display:block;
	clear: both;
}
/* a {
	text-decoration: none
} */
header p{
	font-size: 2.2em;
}
section {
	min-width: 1000px;
	position: relative;
	margin-bottom: -4px;
}
.clear {
	clear: both
}

.lft-nav{
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
    position: relative;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
    background: rgba(17, 30, 45, 0.85);
}
.contain{
	width: 760px;
	padding: 0px 130px;
	margin: 0px auto;
}
.l_choose{
	float: left;
	margin-left: 100px;
}
.r_choose{
	float: right;
	margin-right: 100px;
}
label{
	color: #fff;
}
select{
	width: 170px;
}
.sec {
	width: 1020px;
	margin: 0px auto
}
.margin-bottom-40px {
	position: relative;
	margin-bottom: 40px
}
h2 {
	margin-left: 10px;
	font-size: 1.8em;
	font-weight: normal;
	line-height: 1.4em;
	margin-bottom: 10px
}
.recommend {
	display: none;
	width: 320px;
	height: 240px;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6)
}
.recommend div {
	height: 100px;
	width: 100px;
	background: transparent;
	border: 2px solid #fff;
	color: #fff;
	border-radius: 50%;
	position: absolute;
	text-align: center;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding-top: 30px;
	box-sizing: border-box
}
.recommend span {
	font-size: 2.5em
}
.margin-bottom-30px {
	margin-bottom: 30px
}
.space::after {
	content: '';
	width: 100%;
	height: 85px;
	position: absolute;
	left: 0;
	bottom: 110px;
	z-index: 1;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%)
}
.space img {
	display: block
}
.FP_h2 {
	color: #fff
}
.FP {
	width: 1020px;
	overflow: hidden
}
.FP li {
	float: left;
	width: 320px;
	height: 350px;
	margin: 0 10px 20px 10px;
	position: relative
}
.FP .w660 {
	width: 660px
}
.FP .margin-bottom-0px {
	margin-bottom: 0px
}
.detail {
	height: 110px;
	background: #fff;
	position: relative
}
.title, .title2, .title3 {
	position: absolute;
	top: 20px;
	padding: 0 20px;
	color: #000
}
.out {
	margin-top: 20px
}
.title2 {
	top: 40px
}
.title3 {
	top: 70px
}
.price {
	position: absolute;
	right: 20px;
	bottom: 10px;
	color: #cb5977;
}
.price_right {
	margin-top: 5px;
}
strong {
	font-size: 1.6em
}

.icons {
	position: absolute;
	right: 20px;
	bottom: 20px
}
.icons span {
	float: left;
	display: block;
	width: 30px;
	height: 30px;
	background: #cb5977;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	line-height: 30px
}
.icons .icon-feiji1 {
	font-size: 18px
}
.icons .icon-fengniao {
	font-size: 25px;
	margin-left: 5px
}
.icons .icon-huiyuanzuanshi {
	font-size: 22px;
	margin-left: 5px;
	box-sizing: border-box;
	padding-left: 1px;
	padding-top: 1px
}
.icons .icon-hanglixiang {
	margin-left: 5px;
	font-size: 22px
}
.icons .icon-icon_bieshu {
	font-size: 25px
}
.icons .icon-youlun {
	margin-left: 5px;
	font-size: 25px
}
.icons .mg-right-8px {
	margin-right: 8px;
	font-size: 35px;
	color: #cb5977;
	background: transparent
}
.only-mg-top-10 {
	margin-top: 10px
}
.sale-tag {
	z-index: 4;
	left: -8px;
	top: 10px;
	height: 44px;
	color: #fff;
	position: absolute;
	background: #d66382;
	padding: 10px 20px
}

.sale-tag span {
	font-size: 1.3em;
	font-weight: bold
}
.sale-tag::after {
	content: '';
	position: absolute;
	left: 0;
	top: 64px;
	border-left: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-right: 4px solid #6e201e;
	border-top: 4px solid #6e201e
}
.line1::after {
	content: '';
	position: absolute;
	right: -20px;
	top: 0;
	border-right: 27px solid transparent;
	border-bottom: 23px solid transparent;
	border-left: 14px solid #d66382;
	border-top: 42px solid #d66382
}
.line2::after {
	content: '';
	position: absolute;
	right: -20px;
	top: 0;
	border-right: 14px solid transparent;
	border-top: 42px solid transparent;
	border-left: 27px solid #d66382;
	border-bottom: 22px solid #d66382
}
.line2 {
	margin-top: 5px
}
.FP li:hover .detail {
	background: #d66382
}
.FP li:hover .title {
	color: #fff
}
.FP li:hover .price {
	color: #fff
}
/* .FP li:hover .icons span {
	background: #fff;
	color: #d66382
}
.FP li:hover .icons .icon-shijian {
	background: #d66382;
	color: #fff
} */
.FP li:hover .recommend {
	display: block
}
.title1 {
	box-sizing: border-box;
	display: none;
	width: 320px;
	position: absolute;
	bottom: 110px;
	background-color: #ebebeb;
	padding: 5px 10px;
	opacity: 0.8;
	font-size: 0.9em;
	z-index: 3;
	color: #000
}
.title3 {
	color: #CB5977
}
main {
	background: #e1ebf3;
	padding: 60px 0
}
.more:hover.more div {
	text-decoration: underline
}
.more {
	display: block;
	height: 37px;
	float: right;
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 1.4em;
	color: #cb5977
}
.more div {
	display: inline-block
}
.more span {
	margin-right: 5px;
	color: #fff;
	display: inline-block;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: #cb5977;
	font-size: 20px;
	text-align: center;
	line-height: 34px
}
.go-top, .bottom-go-top {
	cursor: pointer;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 99px;
	height: 48px;
	background-color: #e5f2f8;
	border-radius: 48px 48px 0 0;
	z-index: 2;
	font-size: 0.8em;
	color: #8fa7bf;
	padding-top: 26px;
	text-align: center;
	box-sizing: border-box
}
.bottom-go-top {
	z-index: 1;
	position: absolute;
	top: -48px;
	left: 50%;
	transform: translateX(-50%)
}
.go-top::before, .bottom-go-top::before {
	content: '';
	display: block;
	position: absolute;
	top: 12px;
	left: 40px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #8ca6c1
}


footer {
	z-index: 5;
	height: 652px;
	background: url(../images/footer_bg.png) no-repeat, linear-gradient(-180deg, rgba(124, 202, 234, 0.90) 0%, rgba(198, 232, 246, 0.46) 96%);
	background-position: 0 0;
	position: relative
}
.contact {
	height: 382px
}
.contact_us {
	width: 1020px;
	margin: 0 auto;
	overflow: hidden;
	box-sizing: border-box;
	padding: 57px 0 40px 120px
}
.contact_us dl {
	margin-left: 82px;
	float: left
}
.contact_us dl:nth-of-type(1) {
	margin-left: 0
}
.contact_us dt {
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 1.2em;
	line-height: 1.4em
}
.contact_us dd {
	margin-top: 3px;
	color: #7C878E
}
.contact_us dd>a {
	color: #7C878E
}
.contact_us dd a:hover {
	color: #af5576
}
.small>dd:nth-of-type(1), .small>dd:nth-of-type(4) {
	color: #00C40C
}
.small>dd:nth-of-type(3) {
	margin-bottom: 20px
}
.hotline a {
	color: #7C878E;
	font-weight: 500;
	font-size: 1.2em
}
.info a {
	color: #999
}
.media {
	margin: 0px auto;
	box-sizing: border-box;
	width: 1020px;
	padding-left: 120px;
	overflow: hidden
}
.media li {
	margin: 0 15px 10px 0;
	float: left;
	background-position: 0 0;
	background: url(../images/media-icon.png)no-repeat;
	background-size: 191px
}
.media li:nth-of-type(2) {
	background-position: -51px 0
}
.media li:nth-of-type(3) {
	background-position: -102px 0
}
.media li a {
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	box-shadow: 0 9px 12px rgba(0, 0, 0, 0.16)
}
.welcome {
	margin: 0 auto;
	box-sizing: border-box;
	width: 1020px;
	padding-left: 120px;
	padding-right: 220px;
	overflow: hidden
}
.welcome a:hover {
	text-decoration: underline
}
.welcome p:nth-of-type(1) {
	color: #7C878E;
	float: left
}
.welcome p:nth-of-type(1) a {
	color: #cb5977;
	font-size: 1.2em
}
.welcome p:nth-of-type(2) a {
	color: #999;
	font-size: 1.1em;
	font-weight: bold
}
.welcome p:nth-of-type(2) {
	color: #7C878E;
	float: right
}
.footer_cloud {
	width: 100%;
	position: relative;
	overflow: hidden
}
.cloud {
	min-height: 270px
}
.movecloud1 {
	width: 90%;
	position: absolute;
	left: 0;
	top: 15%;
	animation: left 10s linear infinite alternate
}
.movecloud2 {
	width: 90%;
	position: absolute;
	right: 0;
	top: 30%;
	animation: right 12s linear infinite alternate
}
@keyframes left {
	0% {
		transform: translateX(0)
	}
	100% {
		transform: translateX(500px)
	}
}
@keyframes right {
	0% {
		transform: translateX(0)
	}
	100% {
		transform: translateX(300px)
	}
}
.end {
	width: 100%;
	min-width: 1020px;
	position: absolute;
	background: #fff;
	bottom: 0px;
	z-index: 2
}
.end>div {
	width: 1020px;
	margin: 0 auto;
	height: 163px;
	text-align: center;
	position: relative
}
.QR {
	display: block;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -155px
}
.bom {
	display: block;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0
}
.end p:nth-of-type(2) {
	margin-top: 10px
}
.end p:nth-of-type(2) a {
	color: #333
}
.end p:nth-of-type(2) a:hover {
	text-decoration: underline
}
.bottom-go-top {
	cursor: pointer;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 99px;
	height: 48px;
	background-color: #e5f2f8;
	border-radius: 48px 48px 0 0;
	z-index: 2;
	font-size: 0.8em;
	color: #8fa7bf;
	padding-top: 26px;
	text-align: center;
	box-sizing: border-box
}
.bottom-go-top {
	z-index: 1;
	position: absolute;
	top: -48px;
	left: 50%;
	transform: translateX(-50%)
}
.bottom-go-top::before {
	content: '';
	display: block;
	position: absolute;
	top: 12px;
	left: 40px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #8ca6c1
}