* {
	padding: 0;
	margin: 0;
	list-style: none
}
body, html {
	min-width: 1020px
}
body {
	background: #ececec;
	font-size: 14px;
	font-family: 'Montserrat', 'STHeiti', 'Microsoft YaHei', Arial, sans-serif;
	line-height: 1.4em;
	color: #333333
}
/* header {
	width: 100%;
	padding-top: 25px;
	box-sizing: border-box;
	min-width: 1020px;
	height: 120px;
	background-size: cover;
	background-image: url(../images/bg-image-clouds-guest.jpg)
}
a {
	text-decoration: none
}
header form {
	position: relative;
	margin-top: 2px;
	outline: none
}
.container {
	width: 1000px;
	height: 70px;
	margin: 0 auto
}
header p{
	font-size: 2.2em;
	color: #fff;
	opacity:0.8;
	display:inline;
	font-family: 'STKaiti', Arial, sans-serif;
	position: relative;
    top: -20px;
}
.clear {
	clear: both
}
h1 {
	float: left
}
.container>div {
	margin-top: 30px;
	float: right
}
#searchtxt {
	outline: none;
	float: left;
	width: 280px;
	font-size: 0.9em;
	box-sizing: border-box;
	background: rgba(255, 255, 255, 0.45);
	padding: 6px 10px 8px 10px;
	margin-right: 10px;
	border: 1px solid transparent;
	box-shadow: 2px 2px 8px rgba(131, 131, 131, 0.4), inset -1px 1px 4px rgba(232, 232, 232, 0.3)
}
#searchtxt:hover {
	border: 1px solid #A2526D
}
#searchtxt:focus {
	border: 1px solid #af5576
}
#navs:focus {
	border: 1px solid #af5576
}
#searchbtn {
	width: 34px;
	height: 34px;
	border: none;
	cursor: pointer;
	border-radius: 50%;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
	background: linear-gradient(to bottom, #d78393 0%, #b74966 100%)
}
#sbtn {
	position: absolute;
	color: #fff;
	right: 9px;
	top: 8px;
	cursor: pointer
}
.navbar {
	width: 100%;
	height: 80px;
	position: fixed;
	box-sizing: border-box;
	top: 0;
	background: #fff;
	display: none;
	z-index: 10;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1)
}
.navbar>.nav {
	line-height: 80px;
	height: 80px;
	box-sizing: border-box;
	padding-left: 10px
}
.navbar>.nav>a {
	float: left;
	margin-top: 10px
}
#navs {
	padding-left: 10px;
	margin-left: 154px;
	font-size: 13px;
	height: 33px;
	width: 230px;
	outline: none;
	box-sizing: border-box;
	border: 1px solid #ccc;
	background: #fff;
	border-radius: 4px
}
#navbtn {
	width: 25px;
	height: 25px;
	position: absolute;
	top: 27px;
	right: 395px;
	background: #fff;
	outline: none;
	border: 1px solid #fff;
	cursor: pointer
}
#nbtn {
	font-size: 18px;
	color: #af5576;
	position: absolute;
	right: 395px;
	cursor: pointer
}
nav {
	height: 50px;
	background: #fff;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1)
}
.nav {
	width: 1020px;
	margin: 0 auto;
	line-height: 50px
}
.nav a {
	color: #384d66
}
.nav li:hover .na {
	color: #CB5977
}
.nav li:hover span {
	border-bottom: #CB5977 1px solid;
	border-right: #CB5977 1px solid;
	transform: rotate(225deg);
	transform-origin: bottom
}
.nav_left {
	width: 700px;
	margin-left: 10px
}
nav .nav_left>li {
	float: left;
	width: 16.6667%;
	text-align: center
}
.navbar .nav_left>li {
	float: left;
	height: 80px;
	line-height: 80px;
	box-sizing: border-box;
	width: auto;
	padding-right: 40px;
	text-align: center
}
.navbar .nav_left>li:nth-of-type(1) {
	margin-left: 30px
}
.navbar .menu {
	left: 292px
}
.nav_left span {
	margin-left: 3px;
	margin-bottom: 4px;
	display: inline-block;
	height: 6px;
	width: 6px;
	border-bottom: #384d66 1px solid;
	border-right: #384d66 1px solid;
	transform: rotate(45deg);
	transition: transform 0.3s
}
.nav_right {
	display: block;
	margin-right: 10px
}
.nav_right a:hover {
	color: #CB5977
}
.nav_right p {
	float: right
}

.nav_user{
	position: relative;
	
	line-height:50px;
}
.nav_user p,.nav_user div {
	float: right;
}
.nav_user p span {
	margin-left: 8px;
	margin-bottom: 4px;
	display: inline-block;
	height: 6px;
	width: 6px;
	border-bottom: #384d66 1px solid;
	border-right: #384d66 1px solid;
	transform: rotate(45deg);
	transition: transform 0.3s;
}
.user{
	display:none;
	width: 120px;
	position: absolute;
	background: #fff;
	border-top: 1px solid #ccc;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
	z-index: 99;
	right:0px;
	top:50px;
}
.nav_user>.user li{
	font-size: 0.8em;
	color: #fff;
	line-height:25px;
}
.nav_user .user {
	padding: 10px 0 15px 20px;
	box-sizing: border-box
}
.user::before {
	content: "";
	display: block;
	width: 12px;
	height: 12px;
	background: #fff;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	transform: rotate(-45deg);
	position: absolute;
	top: -7px;
	right: 15.5%
}
.nav_user:hover p span {
	border-bottom: #CB5977 1px solid;
	border-right: #CB5977 1px solid;
	transform: rotate(225deg);
	transform-origin: bottom
}


.menu {
	display: none;
	width: 1000px;
	position: absolute;
	background: #fff;
	border-top: 1px solid #ccc;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
	z-index: 99
}
.menu1 .menu {
	height: 532px;
	padding: 10px 0 15px 20px;
	box-sizing: border-box
}
.menu2 .menu {
	left: 292px
}
.menu1 dl {
	padding: 10px 20px 0 0;
	float: left;
	width: 25%;
	box-sizing: border-box
}
.menu1 dt {
	font-size: 16px;
	color: #588CB5;
	padding: 0 10px 5px 10px;
	font-weight: bold;
	border-bottom: 1px solid #8CA6C2;
	text-align: left;
	cursor: text;
	line-height: 1.4em
}
.menu1 dd {
	line-height: 13px;
	text-align: left;
	padding-top: 8px
}
.menu1 dd>a {
	display: block;
	padding: 0 8px;
	margin: 0 0px 10px -1px;
	color: #596875;
	border-left: 1px solid #ccc;
	font-size: 13px;
	float: left
}
.menu1 dd>.ddone {
	border-left: none
}
.menu1 a:hover {
	color: #CB5977
}
.menu::before {
	content: "";
	display: block;
	width: 12px;
	height: 12px;
	background: #fff;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	transform: rotate(-45deg);
	position: absolute;
	top: -7px;
	left: 4.5%
}
.menu2 .menu::before {
	left: 16.5%
}
.navbar .menu::before {
	left: 10.5%
}
.navbar .menu2 .menu::before {
	left: 20.5%
} */



/* .process1 {
	height: 420px;
	float: left;
	width: 660px;
	padding: 0 10px
}
.prop {
	font-size: 1.4em;
	line-height: 1.4em;
	margin-left: 20px;
	margin-bottom: 20px;
	padding-top: 20px;
	text-align: left;
	cursor: text
}
.process {
	width: 640px;
	margin-left: 20px
}
.process li {
	display: inline-block;
	margin-right: 11px;
	margin-bottom: 3px;
	position: relative
}
.process li a {
	display: block;
	width: 145px;
	height: 145px;
	background: url('../images/square.jpg') no-repeat;
	background-size: 100%;
	border-radius: 50%
}
.process li:nth-of-type(1) a {
	background-size: 157px;
	background-position: -12px 0
}
.process li:nth-of-type(2) a {
	background-position: 0 -145px
}
.process li:nth-of-type(3) a {
	background-position: 0 -290px
}
.process li:nth-of-type(4) a {
	background-position: 0 -590px
}
.process li:nth-of-type(5) a {
	background-position: 0 -440px
}
.process li:nth-of-type(6) a {
	background-position: 0 -725px
}
.process li:nth-of-type(7) a {
	background-position: 0 -870px
}
.process li:nth-of-type(8) a {
	background-position: 0 -1025px
}
.process p {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 145px;
	height: 22px;
	background-color: #fff;
	line-height: 22px
}
.process a:hover p {
	color: #CB5977
}
.process2 {
	height: 420px
} */

section {
	padding: 60px 0;
	background: #ececec
}
.container {
	width: 1020px;
	/* height: 70px; */
	margin: 0 auto
}
section>div {
	/* width: 1020px; */
	margin: 0 auto
}
.about-left {
	float: left;
	width: 250px;
	margin: 0 10px
}
.about-left li {
	height: 100px;
	background: #8DA7C2;
	margin-bottom: 1px;
	box-sizing: border-box;
}
.about-left li:nth-of-type(1) {
	background: #CC5978
}
.about-left li:hover {
	background: #CC5978
}
.about-left a {
	display: block;
	padding: 30px 20px;
	font-size: 1.1em;
	color: #fff
}
.about-icon {
	float: left;
	width: 40px;
	height: 40px;
	background: url('../images/site-nav-icons.png');
	margin-right: 20px
}
.mg-top-10px {
	margin-top: 10px
}
.about-left li strong {
	display: block
}
.about-left li:nth-of-type(2) .about-icon {
	background-position: -40px top
}
.about-left li:nth-of-type(3) .about-icon {
	background-position: -80px top
}
.about-left li:nth-of-type(4) .about-icon {
	background-position: -120px top
}
.about-left li:nth-of-type(5) .about-icon {
	background-position: -160px top
}
.about-left li:nth-of-type(6) .about-icon {
	background-position: -200px top
}
.about-right {
	float: left;
	width: 690px;	
	margin-left: 20px;
	background: #fff;
	min-height: 584px;
	padding: 20px;
}
/* .about-right>div {
	padding: 20px;
} */
.about-right a {
	color: #cb5977;
}

/* .about-right .current{
	display:block;
} */
.news{
	background: #fff;
	min-height: 195px;
	padding: 40px 20px;
	margin-bottom:40px;
	box-sizing: border-box;
	overflow: hidden;
}
h3 {
	font-weight: normal;
	font-size: 1.4em;
	line-height: 1.4em;
	margin-left: 10px;
	margin-bottom: 20px
}
.news-left{
	float: left;
	width: 162px;
	text-align: center;
	position:relative;
}
.news-left>div{
	width: 80px;
    height: 80px;
    margin: 0px auto 10px;
    border: 5px solid #fff;
    box-shadow: 2px 2px 8px rgba(114, 114, 114, 0.60);
    border-radius: 100%;
}
.news-left img{
	//display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.news-right{
	float: left;
	margin-left: 20px;
}
.news-right>p{
	margin:10px;
}
.news-right a{
	//color: #cb5977;
	font-size:0.7em;
	margin-left: 20px;
}
.news-right li{
	margin-bottom: 20px;
}
.news-right label{
	display: block;
}
.news-right input{
	width: 130px;
	padding: 12px 10px;
    font-size: 0.9em;
    background: #EAEAEA;
    border: 1px solid transparent;
}
.news .save{
	border: none;
	cursor: pointer;
	width: 100px;
	padding: 8px 0px;
    text-align: center;
    border-radius: 20px;
    color: #fff;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
	background: linear-gradient(to bottom, #d78393 0%, #b74966 100%);
}
.news .save2{
	position: absolute;
    right: -19px;
    bottom: 4px;
    cursor: pointer;
}
.news .wechat{
	width:130px;
	display: block;
	background: linear-gradient(to bottom, #11d71e 0%, #02b10e 100%);
}
hr {
	border: none;
	height: 1px;
	width: 100%;
	background: #c8c8c8
}
.pd-10px {
	padding: 10px;
	font-size: 13px;
	line-height: 1.9em;
	color: #737373
}
.pd-10px p {
	margin-bottom: 10px
}
.pd-10px span {
	color: #000
}
.about-right a {
	color: #cb5977
}
.about-right h5 {
	text-align: right
}
.first {
	margin: 10px 0
}
.about-right hr:nth-of-type(2) {
	margin-bottom: 20px
}
.about-right hr:nth-of-type(3) {
	margin: 20px 0
}
footer {
	z-index: 5;
	height: 652px;
	background: url(../images/footer_bg.png) no-repeat, linear-gradient(-180deg, rgba(124, 202, 234, 0.90) 0%, rgba(198, 232, 246, 0.46) 96%);
	background-position: 0 0;
	position: relative
}
.contact {
	height: 382px
}
.contact_us {
	width: 1020px;
	margin: 0 auto;
	overflow: hidden;
	box-sizing: border-box;
	padding: 57px 0 40px 120px
}
.contact_us dl {
	margin-left: 82px;
	float: left
}
.contact_us dl:nth-of-type(1) {
	margin-left: 0
}
.contact_us dt {
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 1.2em;
	line-height: 1.4em
}
.contact_us dd {
	margin-top: 3px;
	color: #7C878E
}
.contact_us dd>a {
	color: #7C878E
}
.contact_us dd a:hover {
	color: #af5576
}
.small>dd:nth-of-type(1), .small>dd:nth-of-type(4) {
	color: #00C40C
}
.small>dd:nth-of-type(3) {
	margin-bottom: 20px
}
.hotline a {
	color: #7C878E;
	font-weight: 500;
	font-size: 1.2em
}
.info a {
	color: #999
}
.media {
	margin: 0px auto;
	box-sizing: border-box;
	width: 1020px;
	padding-left: 120px;
	overflow: hidden
}
.media li {
	margin: 0 15px 10px 0;
	float: left;
	background-position: 0 0;
	background: url(../images/media-icon.png)no-repeat;
	background-size: 191px
}
.media li:nth-of-type(2) {
	background-position: -51px 0
}
.media li:nth-of-type(3) {
	background-position: -102px 0
}
.media li a {
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	box-shadow: 0 9px 12px rgba(0, 0, 0, 0.16)
}
.welcome {
	margin: 0 auto;
	box-sizing: border-box;
	width: 1020px;
	padding-left: 120px;
	padding-right: 220px;
	overflow: hidden
}
.welcome a:hover {
	text-decoration: underline
}
.welcome p:nth-of-type(1) {
	color: #7C878E;
	float: left
}
.welcome p:nth-of-type(1) a {
	color: #cb5977;
	font-size: 1.2em
}
.welcome p:nth-of-type(2) a {
	color: #999;
	font-size: 1.1em;
	font-weight: bold
}
.welcome p:nth-of-type(2) {
	color: #7C878E;
	float: right
}
.footer_cloud {
	width: 100%;
	position: relative;
	overflow: hidden
}
.cloud {
	min-height: 270px
}
.movecloud1 {
	width: 90%;
	position: absolute;
	left: 0;
	top: 15%;
	animation: left 10s linear infinite alternate
}
.movecloud2 {
	width: 90%;
	position: absolute;
	right: 0;
	top: 30%;
	animation: right 12s linear infinite alternate
}
@keyframes left {
	0% {
		transform: translateX(0)
	}
	100% {
		transform: translateX(500px)
	}
}
@keyframes right {
	0% {
		transform: translateX(0)
	}
	100% {
		transform: translateX(300px)
	}
}
.end {
	width: 100%;
	min-width: 1020px;
	position: absolute;
	background: #fff;
	bottom: 0px;
	z-index: 2
}
.end>div {
	width: 1020px;
	margin: 0 auto;
	height: 163px;
	text-align: center;
	position: relative
}
.QR {
	display: block;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -155px
}
.bom {
	display: block;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0
}
.end p:nth-of-type(2) {
	margin-top: 10px
}
.end p:nth-of-type(2) a {
	color: #333
}
.end p:nth-of-type(2) a:hover {
	text-decoration: underline
}
.bottom-go-top {
	cursor: pointer;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 99px;
	height: 48px;
	background-color: #e5f2f8;
	border-radius: 48px 48px 0 0;
	z-index: 2;
	font-size: 0.8em;
	color: #8fa7bf;
	padding-top: 26px;
	text-align: center;
	box-sizing: border-box
}
.bottom-go-top {
	z-index: 1;
	position: absolute;
	top: -48px;
	left: 50%;
	transform: translateX(-50%)
}
.bottom-go-top::before {
	content: '';
	display: block;
	position: absolute;
	top: 12px;
	left: 40px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #8ca6c1
}